<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-disable-auto-dark"
        version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>DisableAutoDark</name>
  <description>Disable Android WebView auto/algorithmic darkening so the editor always renders light.</description>
  <keywords>android,dark,webbview,force-dark</keywords>
  <license>Apache-2.0</license>

  <platform name="android">
    <source-file src="src/android/DisableAutoDark.java"
                 target-dir="src/com/jtw/notes/disableautodark" />
  </platform>
</plugin>